/* IMPORTED FONT-FAMILY */

@font-face {
  font-family: "Spacegrotesk";
  src: url("https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f87fd5f314f8fc8126_SpaceGrotesk-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spacegrotesk";
  src: url("https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f89ce5a8375d74de96_SpaceGrotesk-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spacegrotesk";
  src: url("https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f87653c0225d638848_SpaceGrotesk-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DEFAULT RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML */

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  position: relative;
  line-height: 1.4em;
  color: white;
  font-family: "Spacegrotesk", sans-serif;
  background-color: rgb(29, 29, 29);
}

/* SCROLL BAR */

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgb(92, 91, 87);
}

.block {
  overflow: hidden;
}

/* NAVBAR */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 8vh;
  box-shadow: 2px 0 10px black;
  background-color: rgb(29, 29, 29);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  width: max-content;
  color: white;
  font-size: 23px;
}

/* NAV MENU */

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 92vh;
  top: 8vh;
  right: 0;
  background-color: rgba(29, 29, 29, 1);
  background-image: radial-gradient(
    farthest-corner at bottom right,
    #3f2323,
    transparent 350px
  );
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  padding: 0px 30px 60px;
}

li {
  list-style: none;
}

li a {
  transition: 300ms ease;
}

a {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.shrink {
  font-size: 30px;
  color: gray;
}
/* BURGER MENU */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerMenu {
  line-height: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.line {
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.burgerMenu.active .line:nth-of-type(1) {
  transform: rotate(-45deg) translateY(11px);
}

.burgerMenu.active .line:nth-of-type(2) {
  opacity: 0;
}
.burgerMenu.active .line:nth-of-type(3) {
  transform: rotate(45deg) translateY(-11px);
}

.active {
  transform: translateX(0);
}

/* HOME SECTION */

.Home {
  margin-top: 8vh;
  padding-top: 60px;
  scroll-margin: 70px;
  display: flex;
  gap: 45px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 92vh;
  background-color: rgba(60, 60, 60, 0.2);
  background-image: radial-gradient(
    50% 50% at 75% 10%,
    #3f2323,
    transparent 350px
  );
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1350px;
  width: 100%;
}

/* HOME PORTRAIT */

.portrait {
  width: 32vh;
  height: 32vh;
  border-radius: 50%;
  overflow: hidden;
}

.portrait img {
  max-width: 100%;
}

/* HOME INTRODUCTION */

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.5em;
}

.introduction p:nth-child(2) {
  font-size: 32px;
  letter-spacing: 0.8px;
  font-weight: bold;
  text-transform: uppercase;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  font-size: 30px;
  margin-top: 20px;
}

.git {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.knowMore {
  font-size: 30px;
  text-align: center;
}

.knowMore i {
  animation: jump 1.2s linear infinite;
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ABOUT ME SECTION */

span {
  display: inline-block;
  color: #791818;
}

.About {
  position: relative;
  scroll-margin: 65px;
  width: 100%;
  padding: 70px 0;
}

.aboutContainer {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.About p:nth-child(2) {
  line-height: 1.2em;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.About .me {
  font-size: 16px;
  margin-bottom: 25px;
}

.resume {
  border-bottom: 2px solid #791818b6;
  padding-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.resume a {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.resume i {
  padding-left: 5px;
}

/* SKILLS SECTION */

.Skills {
  scroll-margin: 60px;
  padding: 70px 0;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.2);
  background-image: radial-gradient(
    farthest-corner at right bottom,
    #3f2323,
    transparent 360px
  );
}

.skillsContainer {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.skillsHeader {
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.skillsHeader p {
  line-height: 1.2em;
  font-size: 24px;
  font-weight: 700;
}

.swipe {
  padding: 20px 0 0 10px;
  color: white;
  text-transform: uppercase;
}

.swipe i {
  color: #851a1a;
  margin-right: 5px;
}

.cards {
  width: 100%;
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0 5px 10px 0;
}

.cards::-webkit-scrollbar {
  display: none;
}

.skill {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 20px;
  padding: 60px 30px 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  user-select: none;
}

.skillLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
}

.html,
.css {
  padding-top: 4px;
}

.skill h4 {
  width: 100%;
  padding: 0 220px 0 0;
  font-size: 22px;
  margin-bottom: 10px;
}

.skill p {
  width: 100%;
  font-size: 18px;
  margin-bottom: 32px;
}

.paragraph {
  width: 100%;
  max-width: 56px;
  min-height: 6px;
  background-color: white;
}

/* SECTION PORTFOLIO */

.Projects {
  scroll-margin: 35px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 35px;
  width: 100%;
  padding: 70px 0;
}

.projectsContainer {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.projectHeader {
  margin-bottom: 20px;
}

.projectHeader p {
  line-height: 1.2em;
  font-size: 24px;
  font-weight: 700;
}

.projectHeader i {
  font-size: 20px;
  margin-left: 5px;
}

.partOne {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 35px;
}

.secondOne {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.Project {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgba(60, 60, 60, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.projectPhoto {
  position: relative;
  border-radius: 16px 16px 0 0;
  width: 100%;
  padding: 120px 0;
  overflow: hidden;
}

.projectPhoto img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

article {
  padding: 30px 24px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectName {
  font-size: 20px;
  font-weight: bold;
}

.forWho {
  font-size: 18px;
  margin-bottom: 10px;
}

.forWho i {
  padding: 5px;
}

.Project p {
  font-size: 16px;
  margin-bottom: 20px;
}

.checkOut {
  position: relative;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(112, 111, 106);
  letter-spacing: 0.5px;
  padding-bottom: 6px;
  margin-right: auto;
}

.checkOut:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  transition: 0.3s;
}

.checkOut:hover::after {
  width: 100%;
  border-bottom: 1px solid white;
}

.checkOut a {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  font-weight: 400;
}

.checkOut p {
  margin: 0;
}

.checkOut i {
  margin-left: 6px;
  transition: 0.3s;
}

.checkOut:hover i {
  transform: translateX(5px);
}

.githubToProject i {
  font-size: 18px;
  animation: shake 1s infinite ease-in-out alternate;
}

@keyframes shake {
  100% {
    transform: translateY(-4px);
  }
}

.checkIt {
  width: 93%;
  margin: 0 auto;
  margin-bottom: 70px;
  display: block;
  height: 2px;
  background-color: #791818b6;
}

/* CONTACT SECTION */

.Contact {
  scroll-margin: 40px;
  background-color: rgba(60, 60, 60, 0.2);
  width: 100%;
  padding: 70px 0 70px;
  background-image: radial-gradient(
    50% 50% at 100% 120%,
    #3f2323,
    transparent 450px
  );
}

.contactContainer {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.contactHeader {
  margin-bottom: 50px;
}

.contactHeader p {
  line-height: 1.2em;
  font-size: 24px;
  font-weight: 700;
}

.contactForm {
  position: relative;
  background-color: rgba(29, 29, 29, 0.6);
  padding: 45px 10px 74px;
  border-radius: 16px;
  margin-bottom: 60px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.complete {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: rgba(29, 29, 29, 1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  border: 4px solid #791818b6;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
}

.complete i {
  font-size: 40px;
}
.complete h1 {
  font-size: 24px;
  margin-bottom: 12px;
}
.complete p {
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.fullNameEmail {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
  outline: none;
  border-style: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid rgb(92, 91, 87);
  width: 100%;
  font-family: "spacegrotesk", sans-serif;
  transition: 0.3s;
}

.fullNameEmail:focus {
  border-bottom: 2px solid white;
}

textarea {
  font-weight: 500;
  border-radius: none;
  color: white;
  min-height: 128px;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 2px solid rgb(60, 60, 60);
  font-family: "spacegrotesk", sans-serif;
  transition: 0.3s;
}

textarea:focus {
  border-bottom: 2px solid white;
  border-radius: none;
}

.sent {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-right: auto;
  font-weight: bold;
  justify-content: flex-start;
  padding-bottom: 6px;
  border-bottom: 2px solid rgb(60, 60, 60);
  cursor: pointer;
}

.sent::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 0;
  border-bottom: 2.3px solid white;
  transition: 0.3s;
}

.sent:hover::after {
  width: 100%;
}

.sent input {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: white;
  outline: none;
  border-style: none;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  font-family: "spacegrotesk", sans-serif;
}

.sent i {
  margin-left: 6px;
  font-size: 20px;
  transition: 0.3s;
}

.sent:hover i {
  transform: translateX(5px);
}

::placeholder {
  color: white;
}

.otherContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherContact p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.social {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  font-size: 30px;
}

.social i {
  transition: 0.2s;
}

.social i:hover {
  transform: translateY(-4px);
}

/* FOOTER */

.Footer {
  width: 100%;
  padding: 32px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/*-----------------------------------------                                 MEDIA QUERIES MIN-WIDTH 768px                                -----------------------------------------*/

@media screen and (min-width: 768px) {
  body {
    line-height: 1.65em;
  }

  ul {
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 750px
    );
  }

  li a {
    font-size: 40px;
  }

  .shrink {
    font-size: 35px;
  }

  .Home {
    padding-top: 100px;
    gap: 20px;
    background-image: radial-gradient(
      farthest-corner at top right,
      #3f2323,
      transparent 800px
    );
  }

  .introduction {
    line-height: 1.75em;
  }

  .introduction p:nth-child(1) {
    font-size: 22px;
  }

  .introduction p:nth-child(2) {
    font-size: 36px;
  }

  .introduction p:nth-child(3) {
    font-size: 22px;
  }

  .connect {
    width: 20%;
  }

  .connect i {
    font-size: 30px;
  }

  .About {
    scroll-margin: 55px;
    padding: 100px 0 70px;
  }

  .Skills {
    padding: 100px 0 60px;
    background-image: radial-gradient(
      farthest-corner at right bottom,
      #3f2323,
      transparent 800px
    );
  }

  .Projects {
    padding: 100px 0 50px;
  }

  .Contact {
    scroll-margin: 30px;
    padding: 100px 0 50px;
    background-image: radial-gradient(
      farthest-corner at right bottom,
      #3f2323,
      transparent 750px
    );
  }

  .skill {
    min-width: 48%;
  }

  .About p:nth-child(2) {
    font-size: 32px;
  }

  .skillsHeader p {
    font-size: 32px;
  }

  .projectHeader p {
    font-size: 32px;
    margin-bottom: 150px;
  }

  .projectHeader i {
    font-size: 28px;
  }

  .contactHeader p {
    font-size: 32px;
  }

  .partOne {
    gap: 25px;
  }

  .secondOne {
    gap: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .resume {
    font-size: 20px;
  }

  .About .me {
    font-size: 18px;
  }

  .projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
  }

  .Project {
    margin-bottom: 42px;
  }

  .projectName {
    font-size: 22px;
  }

  article p {
    font-size: 18px;
  }

  .fullNameEmail {
    font-size: 22px;
  }

  textarea {
    font-size: 22px;
  }

  .otherContact p {
    font-size: 20px;
  }

  .social {
    width: 54%;
  }

  .social i {
    font-size: 30px;
  }

  .Footer {
    font-size: 18px;
  }
}

/*-----------------------------------------                                 MEDIA QUERIES MIN-WIDTH 1020px                                -----------------------------------------*/

@media screen and (min-width: 1020px) {
  ul {
    justify-content: flex-end;
    flex-direction: row;
    position: static;
    height: auto;
    background: transparent;
    transform: none;
    padding: 0;
    transition: none;
    margin-right: 0px;
  }

  li {
    padding-left: 15px;
    padding-right: 15px;
  }

  li a {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s;
  }

  li a:hover {
    color: #791818;
  }

  li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #791818;
    transition: 0.3s;
  }

  a:hover::after {
    width: 100%;
  }

  .burgerMenu {
    display: none;
  }

  /* HOME */
  .Home {
    padding-top: 0;
    justify-content: center;
    background-image: radial-gradient(
      farthest-corner at top right,
      #3f2323,
      transparent 1000px
    );
  }
  .headerContainer,
  .homeContainer,
  .aboutContainer,
  .skillsContainer,
  .projectsContainer,
  .contactContainer {
    padding: 0 24px;
  }

  .checkIt {
    width: 91%;
    margin-bottom: 35px;
  }

  .homeContainer {
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 30px;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 2.8fr auto;
    align-items: center;
  }

  .portrait {
    margin-left: auto;
    padding: 38px;
    width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .introduction {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 35px;
    line-height: 2.9em;
  }

  .introduction p:nth-of-type(3) {
    border-bottom: 2px solid #791818b6;
    width: 100%;
    padding-bottom: 5px;
  }

  .knowMore {
    margin-top: 10vh;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }

  .knowMore i {
    font-size: 40px;
  }

  .introduction p:nth-child(1) {
    font-size: 26px;
  }

  .introduction p:nth-child(2) {
    font-size: 72px;
  }

  .introduction p:nth-child(3) {
    font-size: 26px;
  }

  .connect {
    justify-content: flex-start;
    width: 30%;
    margin-top: 10px;
  }

  .connect i {
    font-size: 30px;
  }

  .link {
    margin-left: 25px;
  }

  .About {
    scroll-margin: 53px;
    padding: 160px 0 140px;
  }

  .Skills {
    scroll-margin: -40px;
    padding: 160px 0 120px;
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 900px
    );
  }

  .skill {
    padding: 80px 30px;
  }

  .Contact {
    padding: 170px 0 70px;
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 900px
    );
  }

  .contactContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .otherContact {
    width: 100%;
  }

  .skillsHeader p,
  .projectHeader p,
  .contactHeader p {
    font-size: 52px;
    line-height: 1.2em;
  }
  .projectHeader i {
    font-size: 40px;
  }

  /* ABOUT */
  .About p:nth-child(2) {
    font-size: 52px;
    line-height: 1.2em;
  }

  .About p:nth-child(3) {
    margin-right: 10%;
  }

  .About p:nth-child(4) {
    margin-right: 10%;
  }

  /* PROJECT */
  .Projects {
    /* padding: 160px 24px 30px; */
    padding: 160px 0 30px;
    scroll-margin: -30px;
  }

  .Project {
    margin: 0 10px 30px;
  }

  .partOne {
    margin-bottom: 0;
  }

  article {
    padding: 40px 24px 70px;
  }

  .checkOut i {
    margin-top: 7px;
  }

  .checkIt {
    max-width: 1230px;
    margin-bottom: 140px;
  }

  /* SKILLS */
  .cards {
    gap: 28px;
  }

  /* Contact */
  .Contact {
    scroll-margin: -30px;
    display: flex;
    flex-wrap: wrap;
  }

  .contactHeader {
    width: 45%;
  }

  .contactForm {
    flex-grow: 1;
    margin-left: 5%;
  }

  .complete div {
    width: 12vh;
    height: 12vh;
  }

  .complete i {
    font-size: 56px;
  }
  .complete h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .complete p {
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
  }

  .fullNameEmail {
    font-size: 24px;
  }

  textarea {
    font-size: 24px;
  }

  .sent::after {
    bottom: -2px;
  }

  .sent input {
    font-size: 24px;
  }

  .otherContact p {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .social {
    width: 40%;
  }

  .social i {
    font-size: 30px;
  }
}

/*                                 MEDIA QUERIES MIN-WIDTH 1200px                                */

@media screen and (min-width: 1200px) {
  .headerContainer,
  .homeContainer,
  .aboutContainer,
  .skillsContainer,
  .projectsContainer,
  .contactContainer {
    padding: 0 50px;
  }

  .headerContainer {
    padding-left: 54px;
  }

  .knowMore {
    margin-top: 60px;
  }

  li {
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home {
    background-image: radial-gradient(
      farthest-corner at top right,
      #3f2323,
      transparent 1100px
    );
  }

  .About {
    scroll-margin: 56px;
  }

  .Skills {
    scroll-margin: -40px;
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 1000px
    );
  }

  .skill {
    margin-right: 5px;
    padding: 50px 30px;
    min-width: 31%;
  }

  .Projects {
    scroll-margin: -15px;
    grid-column-gap: 45px;
  }

  .Contact {
    scroll-margin: -10px;
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 1000px
    );
  }

  .introduction {
    line-height: 2.7em;
  }

  .introduction p:nth-child(1) {
    font-size: 22px;
  }

  .introduction p:nth-child(2) {
    font-size: 72px;
  }

  .introduction p:nth-child(3) {
    font-size: 22px;
  }

  .projectPhoto {
    padding: 160px 0;
  }

  article {
    padding-bottom: 65px;
  }

  .social {
    width: 35%;
  }
}

/*                                 MEDIA QUERIES MIN-WIDTH 1430px                                */

@media screen and (min-width: 1430px) {
  .introduction {
    line-height: 3em;
  }

  .introduction p:nth-child(1) {
    font-size: 32px;
  }

  .introduction p:nth-child(2) {
    font-size: 76px;
  }

  .introduction p:nth-child(3) {
    font-size: 32px;
  }

  .Home {
    scroll-margin: 65px;
    background-image: radial-gradient(
      farthest-corner at top right,
      #3f2323,
      transparent 1400px
    );
  }

  .portrait {
    padding: 42px;
  }

  .About {
    scroll-margin: 55px;
  }

  .Skills {
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 1300px
    );
  }

  .skill {
    min-width: 31.5%;
    padding-top: 70px;
    padding-bottom: 60px;
    margin-right: 2px;
  }

  .skill:nth-last-of-type(1) {
    margin-right: 7px;
  }

  .Projects {
    scroll-margin: -55px;
  }

  .Contact {
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 1300px
    );
  }

  .social {
    width: 28%;
  }
}

@media screen and (min-width: 1805px) {
  .Home {
    scroll-margin: 80px;
    /* padding: 24vh 0 0; */
  }

  .portrait {
    margin-left: auto;
    padding: 24px;
  }

  .About {
    scroll-margin: 75px;
    padding: 240px 0 260px;
  }

  .Skills {
    padding-top: 165px;
    scroll-margin: 77px;
  }
  .Projects {
    scroll-margin: 65px;
  }

  .Project {
    margin-left: 0;
  }

  .Contact {
    scroll-margin: 60px;
  }
}
