/* IMPORTED FONT-FAMILY */

@font-face {
  font-family: "Spacegrotesk";
  src: url("https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f87fd5f314f8fc8126_SpaceGrotesk-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spacegrotesk";
  src: url("https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f89ce5a8375d74de96_SpaceGrotesk-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spacegrotesk";
  src: url("https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f87653c0225d638848_SpaceGrotesk-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DEFAULT RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML */

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  line-height: 1.4em;
  color: white;
  font-family: "Spacegrotesk", sans-serif;
  background-color: rgb(29, 29, 29);
}

/* SCROLL BAR */

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgb(92, 91, 87);
}

.block {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* NAVBAR */

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  width: 100%;
  height: 8vh;
  box-shadow: 2px 0 10px black;
  background-color: rgb(29, 29, 29);
}

.logo {
  flex-basis: 10%;
  color: white;
  font-size: 23px;
}

/* NAV MENU */

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 92vh;
  top: 8vh;
  right: 0;
  background-color: rgba(29, 29, 29, 1);
  background-image: radial-gradient(
    farthest-corner at bottom right,
    #3f2323,
    transparent 450px
  );
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  padding: 0 0 80px;
}

li {
  list-style: none;
  padding: 35px 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-weight: bold;
  transition: 0.7s;
}

/* BURGER MENU */

.burgerMenu {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.line {
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.burgerMenu.active .line:nth-of-type(1) {
  transform: rotate(-45deg) translateY(11px);
}

.burgerMenu.active .line:nth-of-type(2) {
  opacity: 0;
}
.burgerMenu.active .line:nth-of-type(3) {
  transform: rotate(45deg) translateY(-11px);
}

.active {
  transform: translateX(0);
}

/* HOME SECTION */

.Home {
  scroll-margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8vh;
  padding-top: 8vh;
  width: 100%;
  height: 92vh;
  background-color: rgba(60, 60, 60, 0.2);
  background-image: radial-gradient(
    50% 50% at 75% 10%,
    #3f2323,
    transparent 350px
  );
}

/* HOME PORTRAIT */

.portait {
  position: relative;
  width: 32vh;
  height: 32vh;
  border-radius: 50%;
}

.portait img {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
}

.portait::before,
.portait::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  background-color: #3f2323;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.7;
}

.portait::before {
  animation: portrait 3s ease-in-out infinite;
}

.portait::after {
  animation: portrait 3s 2s ease-in-out infinite;
}

@keyframes portrait {
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* HOME INTRODUCTION */

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.5em;
}

.introduction p:nth-child(2) {
  font-size: 32px;
  letter-spacing: 0.8px;
  font-weight: bold;
  text-transform: uppercase;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  font-size: 30px;
  margin-top: 20px;
}

.git {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.knowMore {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding-bottom: 18px;
}

.knowMore i {
  animation: jump 1.2s linear infinite;
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ABOUT ME SECTION */

span {
  display: inline-block;
  color: #791818;
}

.About {
  position: relative;
  scroll-margin: 65px;
  width: 100%;
  padding: 70px 15px;
}

.About p:nth-child(2) {
  line-height: 1.25em;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.About .me {
  font-size: 16px;
  margin-bottom: 25px;
}

.resume {
  border-bottom: 2px solid #791818b6;
  padding-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.resume a {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.resume i {
  padding-left: 5px;
}

/* SKILLS SECTION */

.Skills {
  scroll-margin: 65px;
  padding: 70px 15px;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.2);
  background-image: radial-gradient(
    farthest-corner at right bottom,
    #3f2323,
    transparent 360px
  );
}

.skillsHeader {
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.skillsHeader p {
  line-height: 1.25em;
  font-size: 24px;
  font-weight: 700;
}

.swipe {
  padding: 20px 0 0 10px;
  color: white;
  text-transform: uppercase;
}

.swipe i {
  color: #791818;
  margin-right: 5px;
}

.cards {
  width: 100%;
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  padding: 0 5px 10px 0;
}

.cards::-webkit-scrollbar {
  display: none;
}

.skill {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 20px;
  padding: 60px 30px 50px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.skillLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
}

.skill h4 {
  width: 100%;
  padding: 0 220px 0 0;
  font-size: 22px;
  margin-bottom: 10px;
}

.skill p {
  width: 100%;
  font-size: 18px;
  margin-bottom: 32px;
}

.paragraph {
  width: 100%;
  max-width: 56px;
  min-height: 6px;
  background-color: white;
}

/* SECTION PORTFOLIO */

.Projects {
  scroll-margin: 65px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  padding: 70px 15px;
}

.projectHeader {
  margin-bottom: 20px;
}

.projectHeader p {
  line-height: 1.25em;
  font-size: 24px;
  font-weight: 700;
}

.projectHeader i {
  font-size: 20px;
  margin-left: 10px;
}

.partOne {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.secondOne {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.Project {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgba(60, 60, 60, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.projectPhoto {
  position: relative;
  border-radius: 16px 16px 0 0;
  width: 100%;
  padding: 120px 0;
  overflow: hidden;
}

.projectPhoto img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

article {
  padding: 30px 24px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectName {
  font-size: 20px;
  font-weight: bold;
}

.forWho {
  font-size: 18px;
  margin-bottom: 10px;
}

.forWho i {
  padding: 5px;
}

.Project p {
  font-size: 16px;
  margin-bottom: 20px;
}

.checkOut {
  position: relative;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(112, 111, 106);
  letter-spacing: 0.5px;
  padding-bottom: 6px;
  margin-right: auto;
}

.checkOut:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  transition: 0.3s;
}

.checkOut:hover::after {
  width: 100%;
  border-bottom: 1px solid white;
}

.checkOut a {
  display: flex;
  font-size: 16px;
  font-weight: 400;
}

.checkOut p {
  margin: 0;
}

.checkOut i {
  margin-left: 6px;
  margin-top: 2px;
  transition: 0.3s;
}

.checkOut:hover i {
  transform: translateX(5px);
}

.githubToProject i {
  font-size: 18px;
  animation: shake 1s infinite ease-in-out alternate;
}

@keyframes shake {
  100% {
    transform: translateY(-4px);
  }
}

.checkIt {
  min-width: calc(100%-20px);
  margin: 0 14px 70px;
  height: 2px;
  background-color: #791818b6;
}

/* CONTACT SECTION */

.Contact {
  scroll-margin: 65px;
  background-color: rgba(60, 60, 60, 0.6);
  width: 100%;
  padding: 70px 15px 70px;
  background-image: radial-gradient(
    farthest-corner at bottom right,
    #3f2323,
    transparent 370px
  );
}

.contactHeader {
  margin-bottom: 50px;
}

.contactHeader p {
  line-height: 1.25em;
  font-size: 24px;
  font-weight: 700;
}

.contactForm {
  position: relative;
  background-color: rgba(29, 29, 29, 0.6);
  padding: 45px 10px 70px;
  border-radius: 16px;
  margin-bottom: 60px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.complete {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: rgba(29, 29, 29, 1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  border: 4px solid #791818b6;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
}

.complete i {
  font-size: 40px;
}
.complete h1 {
  font-size: 24px;
  margin-bottom: 12px;
}
.complete p {
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.fullNameEmail {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
  outline: none;
  border-style: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid rgb(92, 91, 87);
  width: 100%;
  font-family: "spacegrotesk", sans-serif;
  transition: 0.3s;
}

.fullNameEmail:focus {
  border-bottom: 2px solid white;
}

textarea {
  font-weight: 500;
  border-radius: none;
  color: white;
  min-height: 128px;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 2px solid rgb(60, 60, 60);
  font-family: "spacegrotesk", sans-serif;
  transition: 0.3s;
}

textarea:focus {
  border-bottom: 2px solid white;
  border-radius: none;
}

.sent {
  position: relative;
  display: flex;
  margin-right: auto;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 2px solid rgb(60, 60, 60);
  cursor: pointer;
}

.sent::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

.sent:hover::after {
  width: 100%;
}

.sent input {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: white;
  outline: none;
  border-style: none;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  font-family: "spacegrotesk", sans-serif;
}

.sent i {
  margin-top: 5px;
  margin-left: 6px;
  font-size: 22px;
  transition: 0.3s;
}

.sent:hover i {
  transform: translateX(5px);
}

::placeholder {
  color: white;
}

.otherContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherContact p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.social {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  font-size: 30px;
}

.social i {
  transition: 0.2s;
}

.social i:hover {
  transform: translateY(-4px);
}

/* FOOTER */

.Footer {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/*                                 MEDIA QUERIES MIN-WIDTH 768px                                */

@media screen and (min-width: 768px) {
  body {
    line-height: 1.7em;
  }
  .active {
    padding: 0;
  }
  .active ul {
    padding: 20px;
  }
  .active a {
    font-size: 40px;
    transition: 0.3s ease-in-out;
  }

  .active a:hover {
    font-size: 47px;
  }
  .Home {
    padding-top: 30px;
    background-image: radial-gradient(
      farthest-corner at top right,
      #3f2323,
      transparent 1000px
    );
    /* background: radial-gradient(
      80% 80% at 110% 40%,
      #3f2323 0,
      transparent 100%
    ); */
  }
  .portait {
    width: 33vh;
    height: 33vh;
  }

  .introduction p:nth-child(1) {
    font-size: 20px;
  }

  .introduction p:nth-child(2) {
    font-size: 32px;
  }

  .introduction p:nth-child(3) {
    font-size: 20px;
  }

  .connect {
    width: 25%;
  }

  .knowMore i {
    padding-bottom: 25px;
  }

  .About {
    padding: 100px 24px 70px;
  }
  .Skills {
    padding: 100px 24px 60px;
    background-image: radial-gradient(
      farthest-corner at right bottom,
      #3f2323,
      transparent 1000px
    );
  }
  .Projects {
    padding: 100px 24px 50px;
  }
  .Contact {
    padding: 100px 24px 50px;
  }

  .skill {
    min-width: 48%;
  }

  .About p:nth-child(2) {
    font-size: 32px;
  }

  .skillsHeader p {
    font-size: 32px;
  }

  .projectHeader p {
    font-size: 32px;
    margin-bottom: 150px;
  }

  .projectHeader i {
    font-size: 28px;
    margin-left: 10px;
  }

  .contactHeader p {
    font-size: 32px;
  }

  .partOne {
    gap: 25px;
  }

  .secondOne {
    gap: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .resume {
    font-size: 20px;
  }

  .About .me {
    font-size: 18px;
  }

  .Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
  }

  .Project {
    margin-bottom: 42px;
  }

  .projectName {
    font-size: 22px;
  }

  article p {
    font-size: 18px;
  }

  .fullNameEmail {
    font-size: 22px;
  }

  textarea {
    font-size: 22px;
  }
  .otherContact p {
    font-size: 20px;
  }

  .social {
    width: 54%;
  }

  .Footer {
    font-size: 18px;
  }
}

/*                                 MEDIA QUERIES MIN-WIDTH 992px                                */

@media screen and (min-width: 992px) {
  ul {
    justify-content: flex-end;
    flex-direction: row;
    position: static;
    height: 2px;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transform: none;
    padding-bottom: 0;
    transition: none;
    margin-right: 120px;
  }

  .logo {
    margin-left: 135px;
  }

  li {
    padding: 15px;
  }

  a {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s;
  }

  li a:hover {
    color: #791818;
  }
  li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #791818;
    transition: 0.3s;
  }

  a:hover::after {
    width: 100%;
  }

  .burgerMenu {
    display: none;
  }

  /* HOME */
  .Home {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 110px 43px 0 24px;
    flex-wrap: wrap;
    background-image: radial-gradient(
      farthest-corner at top right,
      #3f2323,
      transparent 1300px
    );
  }

  .portait {
    width: 45vh;
    height: 45vh;
  }

  .introduction {
    align-items: flex-start;
    margin-top: 35px;
    width: 65%;
    flex-grow: 1;
    line-height: 2.9em;
  }

  .introduction p:nth-child(1) {
    font-size: 26px;
  }

  .introduction p:nth-child(2) {
    font-size: 62px;
  }

  .introduction p:nth-child(3) {
    font-size: 26px;
  }

  .connect {
    justify-content: flex-start;
    width: 30%;
    margin-top: 10px;
  }

  .connect i {
    font-size: 30px;
  }

  .link {
    margin-left: 25px;
  }

  .knowMore {
    padding-bottom: 0;
    margin-top: 0;
    width: 100%;
  }

  .knowMore i {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .About {
    padding: 160px 24px 140px;
  }
  .Skills {
    padding: 160px 24px 120px;
  }
  .Projects {
    padding: 160px 24px 30px;
  }
  .Contact {
    padding: 170px 24px 70px;
    background-image: radial-gradient(
      farthest-corner at bottom right,
      #3f2323,
      transparent 1200px
    );
  }

  .skillsHeader p,
  .projectHeader p,
  .contactHeader p {
    font-size: 52px;
    line-height: 1.2em;
  }

  /* ABOUT */
  .About p:nth-child(2) {
    font-size: 52px;
    line-height: 1.2em;
  }

  .About p:nth-child(3) {
    margin-right: 10%;
  }

  .About p:nth-child(4) {
    margin-right: 10%;
  }

  /* PROJECT */

  .Project {
    margin: 0 10px 30px;
  }

  article {
    padding: 40px 24px 70px;
  }

  .checkOut i {
    margin-top: 7px;
  }

  .checkIt {
    margin-bottom: 140px;
  }
  /* SKILLS */

  /* COntact */
  .Contact {
    display: flex;
    flex-wrap: wrap;
  }

  .contactHeader {
    width: 45%;
  }

  .contactForm {
    flex-grow: 1;
    margin-left: 5%;
  }

  .complete div {
    width: 12vh;
    height: 12vh;
  }

  .complete i {
    font-size: 56px;
  }
  .complete h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .complete p {
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
  }

  .fullNameEmail {
    font-size: 24px;
  }

  textarea {
    font-size: 24px;
  }

  .sent::after {
    bottom: -2px;
  }

  .sent input {
    font-size: 24px;
  }

  .otherContact p {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .social {
    width: 40%;
  }

  .social i {
    font-size: 30px;
  }

  /* FOOTER */

  .Footer {
    font-size: 20px;
  }
}

/*                                 MEDIA QUERIES MIN-WIDTH 1200px                                */

@media screen and (min-width: 1200px) {
  .Home {
    padding-right: 150px;
    padding-left: 150px;
  }
  .About {
    padding-right: 150px;
    padding-left: 150px;
  }
  .Skills {
    scroll-margin: -35px;
    padding-right: 150px;
    padding-left: 150px;
  }
  .Projects {
    scroll-margin: -35px;
    padding-right: 150px;
    padding-left: 150px;
  }
  .Contact {
    scroll-margin: -10px;
    padding-right: 150px;
    padding-left: 150px;
  }

  ul a {
    margin-left: 20px;
  }

  .portait {
    width: 48vh;
    height: 48vh;
  }
  .introduction {
    width: 55%;
  }

  .introduction p:nth-child(1) {
    font-size: 22px;
  }

  .introduction p:nth-child(2) {
    font-size: 60px;
  }

  .introduction p:nth-child(3) {
    font-size: 22px;
  }
  .knowMore {
    padding-bottom: 0;
    margin-top: 0;
    width: 100%;
  }

  .knowMore i {
    font-size: 40px;
    margin-bottom: 45px;
  }

  /* SKILLS */

  .skill {
    min-width: 30%;
  }

  .Projects {
    grid-column-gap: 55px;
  }

  .checkIt {
    width: 80%;
  }

  .projectPhoto {
    padding: 180px 0;
  }

  .projectHeader i {
    font-size: 32px;
  }
}

/*                                 MEDIA QUERIES MIN-WIDTH 1430px                                */

@media screen and (min-width: 1430px) {
  .portait {
    width: 55vh;
    height: 55vh;
  }

  .introduction p:nth-child(1) {
    font-size: 32px;
  }

  .introduction p:nth-child(2) {
    font-size: 76px;
  }

  .introduction p:nth-child(3) {
    font-size: 32px;
  }
}
